@tailwind base;
@tailwind components;
@tailwind utilities;


/* Flexbox layout for the body */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}